/**
 *
 */


/* debug

$div {
  border: 1px;
  border-style: solid;
  border-color: black;
}
*/

body {
  background-image: url('cars-purple-bg.png');
  background-repeat: repeat;
  background-position: left top;
  font-family: Verdana;
  font-size: 0.75em;
}

div#container {
   width: 820px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.3);
   margin-left: auto;
   margin-right: auto;
   background: white;
}

div#map {
   height:100%;
   background-image: url(static_map.png);
   background-size: 600px 600px;
}

h1 {
  color: rgb(27,165,145);
  margin: 5px 5px 5px 5px;
}

.column {
  display: inline-block;
  text-align: left;
  height: 600px;

}


.mytable {
  display: table;
}
.myrow {
  display: table-row;
}
.mycell {
  display: table-cell;
  color: black;
  height: 20px;
  max-height: 20px;
}
.column1 {
  display: table-column;
  //background-color: green;
}
.column2 {
  display: table-column;
}

div#content{
  text-align: center;
  display: inline;
  background-color: white;
  height: 600px;
  padding: 5px 0px 5px 0px; 

}

div#left {
  width: 600px;
  vertical-align: top;
}

div#right {
  background-color: white;
  width: 200px;
  table-layout: auto;
}

div#header {
  background-color: white;
  padding-bottom: 10px;
}

div#banner, div#footer {
  background-image: url(theme_header_cars2.png);
  text-align: center;
  margin-left: auto;
  display: block;

  background-repeat: repeat;
  text-align: center;
  height:100px;
  background-size: 820px 100px;
  display: block;

}

div#intro, div#title {
  padding: 5px 10px 5px 10px; 
}





