/**
 *
 */
/* debug

$div {
  border: 1px;
  border-style: solid;
  border-color: black;
}
*/

body {
  background-image: url('images/cars-purple-bg.png');
  background-repeat: repeat;
  background-position: left top;
  font-family: Play;
  font-style: normal;
  font-variant: normal;
  font-size: 0.75em;
}

label {
  color: rgb(22, 162, 216);
  font-weight: bold;
}

div#banner, div#footer {
  background: url(images/theme_header_cars2.png) repeat;
  background-size: 320px 100px;
  margin-left: auto;
  display: block;
  height:100px;

}

div#form , div.form {
  padding: 5px 10px 15px 10px; 
}

div#intro, div#title ,{
  padding: 5px 10px 5px 10px; 
}

div#container {
   width: 820px;
   box-shadow: 0 10px 10px rgba(0,0,0,0.3);
   margin-left: auto;
   margin-right: auto;
   background: white;
}

div#map {
   height:100%;
  /* background-image: url(images/static_map.png);*/
   background-size: 600px 600px;
   height: 500px;

}

h1, h2, h3 {
  color: rgb(27,165,145);
  margin: 2px 2px 2px 2px;
  text-align: left;

}

.mandatory-missing {
  background-color: orange;
}

.column {
  display: inline-block;
  width: 700px;
  text-align: left;
  background-color: #f3f3f3;
  border: solid 1px #a1a1a1;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
}

div#content{
  text-align: center;
  background-color: white;
}

div#left {
  vertical-align: top;
}

div#right {
  table-layout: auto;
  height: 200px;
}

div.arabic {
  direction: rtl;
}

div.coran {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  direction: rtl;
  font-size: 1.2em;
}

div#header {
  background-color: white;
  padding-bottom: 10px;
}



.jfk-button , .jfk-button-action  {
background-color: rgb(77, 144, 254);
border-bottom-color: rgb(48, 121, 237);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-left-color: rgb(48, 121, 237);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(48, 121, 237);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(48, 121, 237);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-width: 1px;
color: rgb(255, 255, 255);
display: inline-block;
font-family: '.HelveticaNeueDeskInterface-Regular';
font-size: 11px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 29px;
line-height: 27px;
list-style-type: none;
margin: 0px 16px 0px 0px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding: 0px 15px 0px 15px;

text-align: center;
vertical-align: middle;
white-space: nowrap;
width: 75px;
}



