
.mytable {
  display: table;
}
.myrow {
  display: table-row;
}
.mycell {
  display: table-cell;
  color: black;
}
.column1 {
  display: table-column;
}
.column2 {
  display: table-column;
}

.column3 {
  display: table-column;
}


.activity {
  background-repeat: no-repeat;
  color: transparent; 

}


.cov-ask-give , .gar-ask-give , .dev-ask-give, .can-ask-give, .vac-ask-give{
  background-image: url(images/ask.png), url(images/give.png);
  background-size: 16px, 16px;
  background-position: right bottom 1px, right bottom 6px;
}


.cov-ask, .gar-ask , .dev-ask, .can-ask, .vac-ask{
   background-image: url(images/ask.png);
  background-size:  16px;
  background-position: right bottom 1px;


}

.cov-give , .gar-give, .dev-give, .can-give, .vac-give{
  background-image: url(images/give.png);
  background-size: 16px;
  background-position: right bottom 6px;
}



.gar {
  background-image: url(images/802.png);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.can {
  background-image: url(images/493.png);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;

}

.cov {
  background-image: url(images/1294.png);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;

}

.dev {
  background-image: url(images/1018.png);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;

}

.vac {
  background-image: url(images/432.png);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}




/*
.gar-ask-give {
  background-image: url(images/ask.png), url(images/give.png), url(images/802.png);
  background-size: 16px, 16px, 12px;
  background-position: right top, right bottom, left center;

}

.gar-ask {
  background-image: url(images/ask.png), url(images/802.png);
  background-size: 16px, 12px;
  background-position: right bottom, left center;
}


.gar-give {
  background-image: url(images/give.png), url(images/802.png);
  background-size: 16px, 12px;
  background-position: right top, left center;
}


.dev {
    background-image: url(images/1018.png);
}
.dev-ask-give {
  background-image: url(images/ask.png), url(images/give.png), url(images/1018.png);
  background-size: 16px, 16px, 12px;
  background-position: right top, right bottom, left center;
}
.dev-ask {
  background-image: url(images/ask.png), url(images/1018.png);
  background-size: 16px, 12px;
  background-position: right bottom, left center;

}

.dev-give {
  background-image: url(images/give.png), url(images/1018.png);
  background-size: 16px, 12px;
  background-position: right top, left center;
}

.vac {
    background-image: url(images/432.png);
}

.vac-ask-give {
  color: transparent; 
  background-image: url(images/ask.png), url(images/give.png), url(images/432.png);
  background-size: 16px, 16px, 12px;
  background-position: right top, right bottom, left center;
}

.vac-ask {
  color: transparent; 
  background-image: url(images/ask.png), url(images/432.png);
  background-size: 16px, 12px;
  background-position: right bottom, left center;
}

.vac-give {
  color: transparent; 
  background-image: url(images/give.png), url(images/432.png);
  background-size: 16px, 12px;
  background-position: right top, left center;
}

*/